body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li.youngest {
    background-color: #dff0d8;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: rgba(27, 4, 66, 0.725);
    color: #fff;
    border-radius: 30px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}